<h1>Web Server Node JS</h1><!--Kontent halaman web-->
    <p>Welcome to me page <%= nama %></p>

    <h4>Contact List</h4>
    <% if (cont.length < 1){ %>
        <p>Contact data is empty</p>
    <% } else { %>
    <% cont.forEach(conts => { %>
        <ul>
            <li> Name: <%= conts.name %> </li>
            <li> Email: <%= conts.email %> </li>
        </ul>
    <% }) %>
    <% } %>  